<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="aokiji.repoets.dbo" connectionString="xpoprovider=MSSqlServer;data source=AOKIJI;initial catalog=POS;integrated security=True;encrypt=False" />
        <add name="localhost_smartpos_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=smartpos" />
        <add name="localhost_smartpos_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=smartpos" />
        <add name="localhost_smartpos_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=smartpos;TrustServerCertificate=true" />
    </connectionStrings>
</configuration>